.who-to-follow {
  background:#202327;
  border-radius: 15px;
}


.who-to-follow__block {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #6e7676;
}

.who-to-follow__block:last-child {
  border-bottom: none;
}

.who-to-follow__author-logo {
  width: 49px;
  height: 49px;
  border-radius: 50px;
  margin-right: 10px;
}

.who-to-follow__author-slug {
  color: #6e767d;
  font-weight: bold;
  font-size: 15px;
  font-family: apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

.who-to-follow__author-name {
  font-size: 15px;
  color: #d9d9d9;
  font-weight: 700;
  font-family: apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

.who-to-follow__content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.who-to-follow__heading {
  font-size: 20px;
  font-weight: bold;
  color: #d9d9d9;
  font-family: apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

.who-to-follow__button {
  border: 1px solid #1da0f2;
  color: #1da0f2;
  font-size: 15px;
  font-weight: 700;
  border-radius: 15px;
  padding: 5px;
  min-width: 67px;
  text-align: center;
}

.who-to-follow__button:hover {
  background: rgba(29, 161, 242, 0.1);
  cursor: pointer;
}
